@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500&display=swap');


body {
    width: 95%;
    height: 95%;
    text-align: left;
    font-family: 'Tektur', cursive;
}

::selection {
    color: cyan;
}
/*
#about {
    padding: 30px;
    width: 80% ;
    border-radius: 8%;
    height: 10%;
    border-radius: 50px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  18px 18px 36px #bebebe,
		 -18px -18px 36px #ffffff;
    margin-bottom: 10%;
    background-color: #e0e0e0;
}
*/
a {
   text-decoration: none;
}

a:visited {
    color: black;
}

.buttonIcons {
    width: 12%;
    height: 6%;
    background-color: white;
    /*border-radius: 30%;*/
    position: fixed;
    right: 3%;
}

#theme {
    bottom: 3%;
 
}

#menu {
    display: none; 
    /*opacity: 1;*/
    position: fixed;
   
    top: 38%;
   
    color: black;
    padding-right: 50px;
}
/*
#menuList {
    
}
*/

h2 {
    position: absolute;
    top: 49%;
    right: 38%;
    font-size: medium;
    text-align: center;
    font-family: 'Tektur', cursive;
}

#menuIcon {
    bottom: 10%;
    width: 8%;
    padding-right: 10px;
    height: 8%;
}

#header {
    position: sticky;
    width: auto;
    height: 5%;
    top:1%;
    font-size: 70px;
    text-align: center;
    border-radius: 0px;
    opacity: 0.95;
    /*box-shadow: 8px 8px -8px -8px  #ffffff;*/
    position: -webkit-sticky;
    position: sticky;
    font-family: 'Tektur', cursive;
    border-radius: 25px;
    background: #e0e0e0;
   /* box-shadow:  12px 12px 38px #b3b3b3,
		 -12px -12px 38px #ffffff;*/
}


main {
    margin: 20px;
}


#logo {
    animation-name: LogoReveal;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-fill-mode: backwards;
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
}

@keyframes LogoReveal
{

    0%{
	filter: blur(10px);
    }

    100%
    {
	filter: blur(0px);
    }
}

@keyframes bordeRad {
    0% {
	border-radius: 40% 60% 38% 62% / 60% 45% 55% 40% ;
    }

    4% {
	border-radius: 19% 81% 38% 62% / 60% 21% 79% 40% ;
    }

    15% {
	border-radius: 32% 68% 44% 56% / 70% 71% 29% 30% ;
    }

    30%
    {

	border-radius: 45% 55% 44% 56% / 24% 27% 73% 76% ;
    }

    50% {
	border-radius: 17% 83% 100% 0% / 0% 100% 0% 100% ;
    }

    65% {
	border-radius: 52% 48% 49% 51% / 38% 47% 53% 62% ; 
    }

    80%
    {

	border-radius: 17% 83% 75% 25% / 54% 57% 43% 46%  ;

    }

    100% {
	border-radius: 40% 60% 38% 62% / 60% 45% 55% 40%;
    }
}
