@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500&display=swap');


body {
    width: 95%;
    height: 95%;
    text-align: left;
    font-family: 'Tektur', cursive;
}

::selection {
    color: thistle;
}

.buttonIcons {
    width: 12%;
    height: 6%;
    background-color: white;
    border-radius: 48%;
    position: fixed;
    right: 3%;
}

#theme {
    bottom: 3%;

}

#menu {
    /*display: none;*/
    opacity: 1;
    position: fixed;
    top: 38%;
    background: #e0e0e0;
    color: black;
    /*left: vw;*/
    padding-right: 50px;
}

#menuList {
    
}

h2 {
    position: absolute;
    top: 49%;
    right: 38%;
    font-size: medium;
    text-align: center;
    font-family: 'Tektur', cursive;
}

#menuIcon {
    bottom: 14%;
}

#header {
    position: sticky;
    width: auto;
    height: 5%;
    top:1%;
    font-size: 70px;
    text-align: center;
    border-radius: 0px;
    opacity: 0.95;
    /*box-shadow: 8px 8px -8px -8px  #ffffff;*/
    position: -webkit-sticky;
    position: sticky;
    font-family: 'Tektur', cursive;
    border-radius: 25px;
    background: #e0e0e0;
   /* box-shadow:  12px 12px 38px #b3b3b3,
		 -12px -12px 38px #ffffff;*/
}


main {
    margin: 20px;
}


#logo {
    animation-name: LogoReveal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    margin-top: auto;
    margin-bottom: auto;
    width: 20%;
}

@keyframes LogoReveal
{

    0%{
	filter: blur(10px);
    }

    100%
    {
	filter: blur(0px);
    }
}
